script(type='text/javascript', src='//wow.zamimg.com/widgets/power.js')
//-script(type="text/javascript").
//-  var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true };