div
  fonts = ["Arial", "Helvetica", "Verdana", "Lucida Grande", "Georgia", "Times New Roman"]
  each font in fonts
    div(style='font-family: #{font}; font-size: 20pt;')
      | This is some sample text in #{font} - HOW DOES IT LOOK?

