extends layout

block content
    // Start Container
    .container
      //h3.bordered World of Warcraft Activity Feed
      .divider40.block_mar40.divider
        .columns.sixteen
          h5 Recent Updates
          #recent_updates_id.recent_updates
            if f
              each item in f
                .item_update
                  h5 
                    a(href='#{item.url}') !{item.title} - 
                  span &nbsp; !{item.description}
                    small &nbsp; - #{item.date_formatted}
          .clear
          a.more_link(href='/loaded')
            span More
          .columns.sixteen.arial_narrow16.txt_center
      .clear
        // ClearFix
      h3.bordered What's it all about ...
      .columns.sixteen.txt_center
        p
          | This site provides an RSS feed of activity for your WoW character and/or guild.
          | The feed can be used to produce a twitter feed or facebook page updates. Or just viewed in 
          | an RSS reader, like Google Reader.
      .clear
        // ClearFix
    // End Container

