extends layout

//not used

block content
  link(rel='stylesheet', href='/stylesheets/pretty_json.css')
  .container
    h3.bordered Info
    hr
    a(href='/feed/info.rss') rss
    ul
    each item in info
      li !{item.title}:!{item.description} (#{item.date}) 
        a(href=#{item.url})
  
