!!! 5
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='en')
  // <![endif]
  head
    //
    //   Basic Page Needs
    //    ================================================== 
    meta(charset='utf-8')
    title WoW Activity
    meta(name='description', content='')
    meta(name='author', content='')
    //
    //   Mobile Specific Metas
    //    ================================================== 
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //
    //   CSS
    //    ================================================== 
    //- link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    //- link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/fonts/stylesheet.css')
    //- link(rel='stylesheet', href='/stylesheets/stimenu.css')
    //- link(rel='stylesheet', href='/stylesheets/app.css')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
    //   Favicons
    //    ================================================== 
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/apple-touch-icon-114x114.png')

    block content_head
  body
    //
    //   Primary Page Layout
    //    ================================================== 
    // Delete everything in this .container and get started on your own site!

    block content

    // Footer

    .container
        p &nbsp;
        div(style='text-align: center; font-family: Caribbean Regular;')
            a(href='/loaded',style='color: orange;') All Updates
            | &nbsp; &nbsp; &nbsp;
            a(href='',style='color: orange;') About
        p &nbsp;

    // /Footer
    //
    //   JS
    //    ================================================== 
    script(type='text/javascript', src='/js/jquery-1.7.1.min.js')
    //- script(src='/js/tabs.js')
    script(type='text/javascript', src='/js/jquery.mobile.customized.min.js')
    script(type='text/javascript', src='/js/jquery.easing.1.3.js')
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    //- script(type='text/javascript', src='/js/jquery.iconmenu.js')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(type='text/javascript', src='/js/respond.src.js')
    //- script(type='text/javascript', src='/js/script.js')
    //- script(type='text/javascript')
    //-   jQuery(function(){

      //   jQuery('#sti-menu').iconmenu();
      //- });

    block content_footer

    //- include includes/wowhead.jade
    //- include includes/uservoice.jade
    //- include includes/google_analytics
    //- include includes/github.jade
    
    //
    //   End Document
    //  ================================================== 
