extends layout

block content
  .container
    h3.bordered Logs
    hr
    if logs
      ul
      each log in logs
        li 
          div #{log.type}: #{log.message} - 
            div= log.stack
            small - #{log.timestamp}
    else
      h3 No logs yet!
    hr
