include includes/caliper
include templates/search_template.pug
script(type='text/javascript', src='/js/async.js')
script(type='text/javascript', src='/js-cs/string.js')
// backbone
script(type='text/javascript', src='/js/underscore.js')
script(type='text/javascript', src='/js/backbone.js')
//- script(type='text/javascript', src='/js/underscore-min.js')
//- script(type='text/javascript', src='/js/backbone-min.js')
script(type="text/javascript", src="/js/caliper.backbone-0.3.5.min.js")
script(type='text/javascript', src='/js-cs/realms.js')
script(type='text/javascript', src='/js-cs/results.js')
script(type='text/javascript', src='/js-cs/search_view.js')
//- script(type='text/javascript', src='/js-cs/router.js')
script(type='text/javascript', src='/js-cs/search.js')
#backbone_container
script(type='text/javascript').
  wf.Search.init('#{locale}')
