extends layout

block content
  link(rel='stylesheet', href='/stylesheets/home-w2.css')
  .container
    .search_box
      .offset-by-four
        .three.columns
          input(type='text')
        .four.columns
          select
            option Darkspear(EU)
            option Darkspear(US)
            option Darkspear(CN)
        .one.column
          button Search

  .search_results
    .container
      .offset-by-four
        .three.columns
          | Results:
    .container
      .offset-by-four
        .ten.columns
          ul
            li 1) Mean Girls - Guild (Darkspear/EU) [
              a(href='') rss
              | ]
            li 2) Innoxera - Character (Darkspear/EU) [
              a(href='') rss
              | ]

  .container
    .info_slides
      .container
        .sixteen.columns
          | Tabs across the top , content below
      .info_options
        .container
          .five.columns
            | example usages
          .six.columns
            | info/stats on actual usage
          .five.columns
            | recent character updates
        .container
          .sixteen.columns
            .info_main
              | CONTENT
