extends layout_new

block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/fonts.css')

  .container
    .offset-by-three
      .nine.columns
        h3.bordered World of Warcraft Feed

  .container
    .search_box
      .offset-by-four
        .three.columns
          input(type='text')
        .three.columns
          select
            option Darkspear(EU)
            option Darkspear(US)
            option Darkspear(CN)
        .one.column
          button Search

  .search_results
    .container
      .offset-by-four
        .three.columns
          | Results:
    .container
      .offset-by-four
        .ten.columns
          ul
            li 1) Mean Girls - Guild (Darkspear/EU) [
              a(href='') rss
              | ]
            li 2) Innoxera - Character (Darkspear/EU) [
              a(href='') rss
              | ]
