extends layout_new

block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/fonts.css')

  .container
    .offset-by-three
      .ten.columns
        h3.bordered World of Warcraft Feed

  .container
    .search_box
      .offset-by-four
        .eight.columns
          input(type='text', placeholder='Search for character or guild')

      .offset-by-four
        .eight.columns
          select
            option [select realm]
            option Darkspear(EU)
            option Darkspear(US)
            option Darkspear(CN)

      .offset-by-four
        .eight.columns
          button Search

  .search_results
    .container
      .offset-by-four
        .eight.columns
          | Results:
    .container
      .offset-by-four
        .eight.columns
          ol
            li [
              a(href='') rss
              | ]
              | Mean Girls - Guild (Darkspear/EU) 
              br
              | -> recent updates:
              ul
                li Level 20!
                li Gained achievement 'appeared on WoW Feed Site'
            li [
              a(href='') rss
              | ]
              | Innoxera - Character (Darkspear/EU) 
