extends layout_new

block content
  link(rel='stylesheet', href='/stylesheets/wf7.css')
  link(rel='stylesheet', href='/stylesheets/fonts.css')

  .container
      .sixteen.columns
        .pagelogo
          img(src='/images/samples/WoW-001S.png')
        #site_avatar
          a(href='/view/member/eu/Darkspear/Kimptoc')
            img(src='http://eu.battle.net/static-render/eu/darkspear/230/384742-avatar.jpg')
            div
            | by Kimptoc
        .pagetitle
          | WoW Activity

  .container
    // Start Header Slider
    link(rel='stylesheet', href='/css/camera.css')
    .offset-by-two
      .twelve.columns
        .sample_usage
            img(src='/images/top_slider/slider_image1.jpg')
          // /sider
    // END Header Slider

  .container
    .offset-by-two
      .search_box.fourteen.columns
        br 
        | &nbsp;
        input(type='text', placeholder='Lookup character or guild')
        | &nbsp; &nbsp; &nbsp;
        select
          option [select realm]
          option Darkspear(EU)
          option Darkspear(US)
          option Darkspear(CN)
        | &nbsp; &nbsp; &nbsp;
        button(onclick='$(".top_slider").hide();$(".search_results").show();') Search

  .container.search_results
    .container
      .offset-by-two
        .two.columns
          .char_title
            | Kimptocii
            br 
            | &nbsp;
          a(href='')
            img(src='/images/samples/sample-avatar.jpg', class='avatar')
            p
            | &nbsp;
          a(href='')
            img(src='/images/icons/ico_rss.png', title='rss feed')
          | &nbsp;
          a(href='', title='Open this in WoW Armory, TOOD - img')
            img(src='/images/samples/armory-icon.png', style='width: 30%;')
          | &nbsp;
          a(href='', title='Open activity page for this, TOOD - img', style='color: yellow;vertical-align: top;')
            | A
        .eight.columns
          | Level 21 Human Priest of Guild Mean Girls (Darkspear/EU)
          .achievements
            ul
              li 
                .time Sep 21, 18:00 - 
                | Now Level 21!
              li 
                .time Oct 31, 23:59 - 
                | Gained achievement 'appeared on WoW Feed Site'
              li 
                .time Nov 1, 03:59 - 
                | Gained achievement 'Had 2 days off WoW'
          .recent_gear
            a(href='', title='Top3 gear items, TOOD - img')
              img(src='http://us.media.blizzard.com/wow/icons/56/achievement_dungeon_ulduar77_normal.jpg')
            | &nbsp; &nbsp; &nbsp;
            a(href='', title='Top3 gear items, TOOD - img')
              img(src='http://us.media.blizzard.com/wow/icons/56/inv_belt_26.jpg')
            | &nbsp; &nbsp; &nbsp;
            a(href='', title='Top3 gear items, TOOD - img')
              img(src='http://us.media.blizzard.com/wow/icons/56/inv_glove_mail_raidshaman_l_01.jpg')
    p &nbsp;


block content_footer
  script(type='text/javascript', src='/js/camera.min.js')
  script(type='text/javascript')
    jQuery(function(){
    jQuery('#top_slider').camera({
    alignment: 'center',
    height: '43.62%',
    //navigationHover: true
    });

    });


