.info_slides
  height 250px
  border dashed black 1px
  // text-align middle

// .info_options
//   float left

// .info_main
//   float right

.search_box
  margin-top 20px
  input,select
    display inline

.search_results
  margin-top 20px
  color red
