h3
  text-align center

.info_slides
  height 250px
  border dashed black 1px
  // text-align middle

// .info_options
//   float left

// .info_main
//   float right

.search_box
  // margin-top 20px
  input,select,button
    display inline
    float right
  input
    width 100%

.search_results
  // margin-top 20px
  color red

// for debugging
// .ten.columns, .eight.columns, .container
//   border-left solid black 1px
//   border-right solid black 1px