h3
  // text-align center

.info_slides
  height 250px
  border dashed black 1px
  // text-align middle

// .info_options
//   float left

// .info_main
//   float right

.top_slider
  // display none
  margin-top 50px

.search_box
  // margin-top 20px
  input,select,button
    display inline
    // float right
  input
    width 50%

.search_results
  margin-top 20px
  display none
  color red

.centred
  text-align center
  
// for debugging
// .ten.columns, .eight.columns, .container,.fourteen.columns
//   border-left solid black 1px
//   border-right solid black 1px