.sample_usage
  img
    border-radius 5px
    width 100%
  padding-bottom: 10px

#search_text
  padding 7px
  -webkit-box-shadow inset 2px 2px 2px 0px #dddddd
  -moz-box-shadow inset 2px 2px 2px 0px #dddddd
  box-shadow inset 2px 2px 2px 0px #dddddd
  font-size 1em
  width 50%

.search_result_item
  padding-top: 15px
  padding-bottom: 15px
  h5
    margin-bottom: 0px
  .char_image
    padding-top: 5px
    height: 50px 
  .search_result_achievements
    padding-top: 5px

#realm_region
  padding 7px
  -webkit-appearance listbox
  -webkit-box-shadow 0px 1px 3px rgba(0, 0, 0, 0.1)
  font-size 1em

#search_now
  padding 7px
  font-size 2em
