font_family()
  "Times New Roman"
  // Georgia

text_colour()
  yellow

body
  background #580A0A // brown
  color text_colour() 

h3
  color text_colour() 
  font-family font_family()
  -webkit-margin-before 0.25em

h3 div
  font-size small

#site_avatar
  display: inline-block;
  float right

.search_box
  // margin-top 20px
  // input,select,button
  //   display inline
  //   // float right
  input
    width 50%

.search_results
  margin-top 20px

.search_results .avatar
  width 2em
