@import 'globals'

text_colour()
  yellow

body
  // background black
  color text_colour()
  background-image url('/images/samples/sholazar-basin1-1280x960.jpg')
  background-size 100%
  // background-color transparent

.container
  background #193C19
  // background #660000
  // background #5C3317  
  // background-image url('/images/samples/mainbg.jpg')
  opacity 0.9
  border-radius 5px
  // filter alpha(opacity = 60.0)

.pagetitle 
  // opacity 1.0
  color text_colour() 
  font-family font_family_title()
  // font-weight bold
  -webkit-margin-before 0.25em
  text-shadow 2px 2px 2px #999999
  // text-shadow -4px 4px 3px #666, 1px -1px 2px #000
  // display table-cell
  text-align center
  // height 5em
  // vertical-align middle
  height 100%
  // vertical-align middle
  // margin-top 20px

.pagelogo
  img
    margin-top 5px
    float right
    width 10%
    height 10%

#site_avatar
  // a div color text_colour() 
  // font-family font_family_title()
  display: inline-block
  float left
  margin-bottom 15px
  font-size small
  text-align center
  img
    margin-top 5px
    width 50%
    height 50%
    border-radius 3px
  a
    color text_colour() 

.sample_usage
  img
    border-radius 5px
    width 100%

.search_box
  // opacity 1.0
  vertical-align middle
  margin-top 10px
  // text-align center
  // input,select,button
  //   display inline
  //   // float right
  input
    font-size 1em
    width 50%
  select
    font-size 1em
  button
    font-size 1em

.time
  display inline
  font-size smaller
  font-style italic
  color orange

.search_results
  // opacity 0.9
  // margin-top 30px
  padding-top 30px
  .avatar
    // width 2em
    border-radius 3px
    width 80%
  .achievements
    font-size 0.9em
    margin-left -20px
    // margin-top -20px

.recent_gear
  display inline
  img
    border-radius 3px
    width 8%

.results_title
  // font-family font_family_title()

.char_title
  font-size 1.2em
  font-family font_family_title()
