script(type='text/template',id='search-template')
  div 
    .offset-by-three
      .search_box
        .ten.columns
          div
          input#search_text(type='text', placeholder='Search for a character or guild', autofocus)

          select#realm_region
            option(value="") [select a realm/region]
            <% _.each(realms, function(realm) { %>
            | <option id="<%= realm._id %>" data-realm="<%= realm.name %>" data-region="<%= realm.region %>"> <%= realm.name %> (<%= realm.region %>)</option>
            <% }); %>
            //- if realms
            //-   each r in realms
            //-     option #{r.name} (#{r.region})

          button#search_now Search

    .offset-by-three
      .search_results
        .ten.columns
          div
            <% if (results_complete === true) { %>
            | Search complete, total found: <%= results.length %>
            <% } %>
          div
            <% _.each(results, function(item) { %>
            | <% print(wf.String.capitalise(item.type)) %>: <%= item.name %>
            | <li>
            | <ul>Level <%= item.armory.level %></ul>
            | </li>
            <% }); %>

